body{
    margin:0;
        background-color: #D0D3CC;    
}

.button{
    -webkit-appearance:none;
    appearance:none;
    outline:0;
    border:0;
    width: 60px;
    height:60px;
    border-radius:50%;
    position: relative;
    font-size: 20px;
    color : rgba(0 ,0,0,0.2);
    background: #D0D3CC;
    transition-duration: 0.3s;
    transition-property:color box-shadow;
    box-shadow:0 0 0 0 rgba(0,0,0,0);
    transition-timing-function:{"ease":".25,.1,.25,1","linear":"0,0,1,1","ease-in":".42,0,1,1","ease-out":"0,0,.58,1","ease-in-out":".42,0,.58,1"};   
}

.button{
    color : rgba(0 ,0,0,0.5);
    box-shadow: 0 0 0 0 rgba(27,27,27,0.27), -1px -1px 4px 0 rgba(255,255,255,0.71), 1px 1px 1px 0 rgba(84,84,84,0.36), 1px 2px 3px 0 rgba(21,21,21,0.31), inset 1px 1px 1px 0 rgba(255,255,255,0.19), inset 0 0 1px 0 #A2A5A1, inset -1px -1px 2px 0 rgba(225,225,225,0.50);
    cursor:pointer;
}

.button.long{
    width: 100px;
    height: 50px;
    border-radius:50px;
}

.outer-layout{
    height: 500px;
    display:flex;
    align-items:center;

}


.layout{
    display:flex;
    flex-wrap:wrap;
    width: 230px;
    height: 300px;
    margin:0 auto;
    justify-content:space-between;
}
